:root{
    --primary-color: #F07807;
    --secundary-color: #FEF2E7;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol,li{
    list-style: none;
}

body{
    padding: 0 80px;
    font-family: "Poppins", sans-serif;
    background-color: var(--secundary-color);
}

header{
    position: fixed;
    height: 60px;
    width: calc(100% - 160px);
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li{
    padding: 4px 8px;
    transition: .5s;
}

header li:hover{
    background-color: var(--secundary-color);
    box-shadow: 0 4px 8px #0005;
}

header button {
    height: 48px;
    width: 120px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 8px #0005;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secundary-color);
    color: var(--primary-color);
    font-weight: 600;
    font-family: inherit;
}

header menu {
    display: flex;
    align-items: center;
    gap: 48px;
}
main{
    height: 700px;
}
footer{
    background-color: pink;
    height: 1526px;
}